---
import HeadSegment from "../components/head-segment.astro";
---
<html lang="en">
    <HeadSegment title="The Final Chapter." description="All will be revealed" icon="https://the1goit.net/media/yujin-artfight.png" />
    <body>
        <div class="p-5 space-y-3">
            <p>So Yujin killed god.</p>
            <p>The end!</p>
        </div>
    </body>
</html>