---
import HeadSegment from "../components/head-segment.astro";
---

<html lang="en">
    <HeadSegment title="Bella" description="She is a beautiful black cat" icon="/bella.png" />
	<body class="bg-repeat" style="background-image: url(/bella.png)">
	</body>
</html>