---
import HeadSegment from "../components/head-segment.astro";
---

<html lang="en">
	<HeadSegment />
	<body>
        <script>
            window.location.replace("https://www.youtube.com/watch?v=O87sUl_ZTQY");
        </script>
        <h1 class="text-center text-4xl font-bold py-5">TURN DOWN YOUR VOLUME!</h1>
	</body>
</html>