---
import HeadSegment from "../components/head-segment.astro";
---

<html lang="en">
	<HeadSegment />
	<body class="bg-repeat bg-stone-800" style="background-image: url(/avaspin.gif)">
		<div class="p-10 max-w-2xl md:mx-auto mx-10 my-20 bg-amber-400 rounded-xl shadow-lg">
			<h1 class="text-center text-7xl font-bold">Ava Time!</h1>
		</div>
	</body>
</html>
