---
import HeadSegment from "../components/head-segment.astro";
---

<html lang="en">
    <HeadSegment title="The Final Chapter." description="All will be revealed" icon="https://the1goit.net/media/yujin-artfight.png" />
	<body>
        <script>
            window.location.replace("/arg");
        </script>
	</body>
</html>