---
import HeadSegment from "../components/head-segment.astro";
---

<html lang="en">
    <HeadSegment title="[[HYPERLINK BLOCKED]]" description="Now's your chance to be a [[BIG SHOT]]" icon="/big-shot.png" />
	<body class="bg-repeat bg-slate-900" style="background-image: url(/big-shot.png)">
		<div class="p-10 max-w-2xl md:mx-auto mx-10 my-20 bg-slate-400 rounded-xl ">
			<h1 class="text-center text-7xl font-bold">[[BIG SHOT]]</h1>
		</div>
	</body>
</html>